## 파이썬 컬렉션
1. 컬렉션 타입 소개
2. 리스트

### 1. 컬렉션 타입 소개
+ Immutable Sequence 유형: Tuples, String
+ Mutable Sequence 유형: Lists, Sets

In [1]:
# Tuple은 (value 1, value 2, ..., value n)와 같은 형식으로 선언
coordinate = (3, 4)

In [3]:
coordinate[1]

4

In [ ]:
# Tuple은 값 변경이 불가능하다(immutable).

In [4]:
coordinate[0] = 8

TypeError: 'tuple' object does not support item assignment

In [5]:
# String 선언 방식: "문자열 내용" 또는 '문자열 내용'
name = "Taehun Kim"
print (name)

Taehun Kim

In [6]:
# String도 역시 immutable
name[7:] = "Park"

TypeError: 'str' object does not support item assignment

In [13]:
# List 선언 방식: [value 1, value 2, ..., value n]
my_info_lst = ["Taehun Kim", 23, "Hanshin University", True]
print(my_info_lst)

['Taehun Kim', 23, 'Hanshin University', True]

In [14]:
# List는 값 변경(추가, 삭제, 수정)이 가능하다.
my_info_lst[1] = 24
my_info_lst.append('Suwon-Si')
my_info_lst.remove(True)
my_info_lst

['Taehun Kim', 24, 'Hanshin University', 'Suwon-Si']

In [17]:
# Set 선언 방식: set(List 객체)
# 값을 추가할 때 중복된 값은 무시하게 됨
my_info_set = set(my_info_lst)
my_info_set.add("Taehun Kim")
print(my_info_set)

{24, 'Hanshin University', 'Suwon-Si', 'Taehun Kim'}

In [18]:
# Dictionary 선언 방식: {'key 1':'value 1', ..., 'key n': 'value n'}
hsu_dict = {
    'name' : 'Hanshin University',
    'establishment_year' : 1940,
    'public|private' : 'private'
}
print(hsu_dict)

{'name': 'Hanshin University', 'establishment_year': 1940, 'public|private': 'private'}

In [19]:
# Dictionary 값 추가
hsu_dict['num_of_enrolled_students'] = 7588
hsu_dict

{'name': 'Hanshin University',
 'establishment_year': 1940,
 'public|private': 'private',
 'num_of_enrolled_students': 7588}

### 2. 리스트

In [20]:
# 리스트 선언
primes = [2,3,5,7,11,13,17,19,23]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23]

In [21]:
empty_lst = []
print(empty_lst)

[]

In [22]:
# 다양한 유형의 데이터 저장
mixed = ['Jenny', 1, 2, 1.4, True]
print(mixed)

['Jenny', 1, 2, 1.4, True]

In [23]:
list_of_list = [['a', 1], ['b', 2]]
print(list_of_list)

[['a', 1], ['b', 2]]

In [24]:
# Zero-indexing
names = ['Roger', 'Rafael', 'Andy', 'Novak']
print(names[0])
print(names[1])
print(names[2])
print(names[3])

Roger
Rafael
Andy
Novak

In [25]:
# Negative indexing
names[-2]

'Andy'

In [27]:
# 리스트 슬라이싱
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
building_slice = hsu_buildings[1:4]

In [28]:
building_slice[2] = '생활관'
building_slice

['장공관', '필헌관', '생활관']

In [36]:
# 다차원 리스트
restaurants = [['해우리', '한식', '해우라면'], ['화락', '일식', '화락초밥'], 
               ['찌개동아리', '한식', '제육전골'], ['몽상', '양식', '매운크림리조또']]
restaurants[2][2] = '된장찌개'
print(restaurants)

[['해우리', '한식', '해우라면'], ['화락', '일식', '화락초밥'], ['찌개동아리', '한식', '된장찌개'], ['몽상', '양식', '매운크림리조또']]

In [37]:
# 리스트 병합하기
items_one = ['cake', 'cookie', 'bread']
items_two = ['biscuit', 'tart']
total_items = items_one + items_two
total_items

['cake', 'cookie', 'bread', 'biscuit', 'tart']

In [ ]:
# 리스트에서 제공하는 메소드들

# len()
knapsack = [2, 4, 3, 7, 10]
size = len(knapsack)
print(size)

# append()
orders = ['daisies', 'periwinkle']
orders.append('tulips')

print(orders)

# insert()
store_line = ['Karla', 'Maxium', 'Martin', 'Isabella']
store_line.insert(2, 'Vikor')

print(store_line)

# sort()

numbers = [4, 2, 1, 3]
numbers.sort()
print(numbers)

hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
hsu_buildings.sort()

print(hsu_buildings)

In [1]:
players = ['손흥민', '이강인', '김민재']
players.append('황희찬')
players

['손흥민', '이강인', '김민재', '황희찬']

In [2]:
players.insert(2,'정우영')
players

['손흥민', '이강인', '정우영', '김민재', '황희찬']

In [3]:
players.pop(2)

'정우영'

In [4]:
players

['손흥민', '이강인', '김민재', '황희찬']

In [5]:
#input을 넣지 않으면 가장 마지막값을 제거
players.pop()
players

['손흥민', '이강인', '김민재']

In [6]:
players.remove('이강인')

In [7]:
players

['손흥민', '김민재']

In [12]:
# sort() : 정렬되지 않은 리스트를 정렬시켜줌

numbers = [4, 2, 1, 3]
numbers.sort()
print(numbers)

[1, 2, 3, 4]

In [13]:
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
hsu_buildings.sort()
print(hsu_buildings)

['늦봄관', '만우관', '소통관', '송암관', '장공관', '장준하통일관', '필헌관']

In [14]:
numbers = [4, 2, 1, 3]

In [15]:
sorted_numbers = sorted(numbers)
print(numbers)
print(sorted_numbers)

[4, 2, 1, 3]
[1, 2, 3, 4]