In [1]:
"""
boolean variables
"""

is_tested = True
is_passed = False

print("흥민이는 정처기 시험을 응시했는가?", is_tested)
print("흥민이는 정처기 시험을 통과했는가?", is_passed)

흥민이는 정처기 시험을 응시했는가? True
흥민이는 정처기 시험을 통과했는가? False

In [4]:
"""
Conditional statements (if / elif /else)
"""

puppy = "maltepoo"
is_yes = False

# [+] if, elif, else 문을 이용한 강아지 맞추기
if puppy == "maltese" :
    is_yes = True
elif puppy == "poodle" :
    is_yes =  True
elif puppy == "pomelanian" :
    is_yes = True
else:
    print("maltepoo")
    is_yes = True

print(is_yes)

maltepoo
True

In [5]:
"""
Exception Handling
"""

x = 1

try:
    print(y)
    print(x)

except:
    print("[Error]")

print('continue')

[Error]
continue

In [8]:
"""
for Loops
"""

# [+] [1, 2, 3, 4, 5] 리스트의 원소값을 출력하는 for 문 작성하기
list = [1, 2, 3, 4, 5]
for i in list:
    print(i)

1
2
3
4
5

In [10]:
""" 
for Loops using range()
"""

# [+] range(stop)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
# [+] range(start, stop)
for month in range(1,13):
    print(month, "th month")

1 th month
2 th month
3 th month
4 th month
5 th month
6 th month
7 th month
8 th month
9 th month
10 th month
11 th month
12 th month

In [16]:
# [+] range(start, stop, step)
for num in range(3, 20, 3):
    print(num, "is multiple of 3")

3 is multiple of 3
6 is multiple of 3
9 is multiple of 3
12 is multiple of 3
15 is multiple of 3
18 is multiple of 3

In [17]:
"""
continue Keyword
"""

nums = [3, -1, 2, -4, 5, -100, 8, 11]

# [+] continue를 이용한 for문 제어
for i in nums:
    if i < 0:
        continue
    print(i)

3
2
5
8
11

In [18]:
"""
break Keyword
"""

game_plays = ['stage1', 'stage2', 'stage3', 'gameover', 
              'stage4', 'stage5']


for play in game_plays:
    
    if play == 'gameover':
        print("Game is Over...")
        break
    
    print(play + "is complete.")

stage1is complete.
stage2is complete.
stage3is complete.
Game is Over...

In [1]:
"""
List Comprehension
"""

# [+] 리스트 컴프리헨션을 이용하여 1-10까지의 정수 리스트 생성하기
one_to_ten = [i+1 for i in range(10)]

print(one_to_ten)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
"""
List comprehension including conditions
"""

hotspurs = [['손흥민', 'A'], ['제임스 메디슨', 'A+'], 
['탕기 은돔벨레', 'F'], ['히샬리송', 'C'], 
['파페 사르', 'B+'], ['이브 비수마', 'A']]

# [+] 리스트 컴프리헨션을 이용하여 평가가 F인 선수 이름 출력하기
poors = [player[0] for player in hotspurs if player[1] == 'F']

print("감독님한테 혼날 사람:")
print(poors)

감독님한테 혼날 사람:
['탕기 은돔벨레']

In [3]:
"""
Nested Loops
"""

# [+] 중첩된 for 문을 이용한 구구단 출력(1~9)
one_to_nine = [i+1 for i in range(9)]

for i in one_to_nine:
    for j in one_to_nine:
        print("%d X %d = %d" % (i, j, i*j))

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [5]:
# While loops
hungry = True
foods_on_table = ['참치김밥', '순대', '로제떡볶이',
                  '김말이', '오뎅', '단무지', '고로케']

foods_num = len(foods_on_table)
ate_num = 0 # 내가 먹은 음식 수 = ate_num + 1

while ate_num < 4:
    print(foods_on_table[ate_num] + ' 냠냠')
    ate_num += 1

print('배불르다 여기까지..')

참치김밥 냠냠
순대 냠냠
로제떡볶이 냠냠
김말이 냠냠
배불르다 여기까지..

In [8]:
"""
Infinite Loops
"""

x = 1
y = 1

while x < 5:
    print("Do something")
    y += 1

Do something
Do something
Do something
Do something